

body {
    text-align: center;
    padding-bottom: 3em;

    > header {
        position: fixed;
        display: inline-block;
        background-color: rgba(3, 3, 3, 0.53);
        color: white;
        width: 100%;
        left: 0px;
        border-bottom: 1px solid black;
        text-align: left;

        h1 {
            text-align: left;
            display: inline-block;
            margin-bottom: 0;
            padding: .9em 0 1em 4%;
            font-size: 1.1em;

            font-weight: 100;
            line-height: 1em;
            width: 70%;
            vertical-align: middle;
            letter-spacing: .07em;
        }
        nav {
            display: none;
            ul {

                li {


                    a {
                        &:hover {

                        }
                    }
                }
            }
        }
    }

    > figure {
        background-image: url('images/blurrediowa.png');
        background-size: 200%;
        padding-top: 5em;

        h2 {
            color: white;
            font-weight: 100;
            font-size: 1em;
            margin: 0 auto 3em;
            letter-spacing: .037em;

            height: 210px;
            width: 150px;
            background: url('images/logo.png') top left no-repeat;
            background-size: 500%;


            span {
                display: none;
            }
        }

        blockquote {
            font-style: italic;
            font-size: .93em;
            background-color: white;
            padding: .9em 1em 16%;
            font-family: Georgia, "Times New Roman", Times, serif;
            line-height: 1.5em;



            cite {
                color: #999;
            }
        }
    }

    > div {
        width: 42%;
        padding: 3.5%;

        padding-bottom: 2em;
        display: inline-block;
        vertical-align: top;
        text-align: left;

        img {
        }

        h2 {
            padding-top: .4em;
            letter-spacing: .03em;
            font-size: 1.18em;
            font-weight: 100;


        }

        p {
            font-weight: 100;
            font-size: .9em;
            letter-spacing: -.01em;
            line-height: 1.38em;
            max-height: 3em;
            overflow: hidden;

        }

        a {
            text-decoration: none;
            color: black;
            font-size: 1em;
            padding-bottom: .1em;
        }
    }
}
