
$grey: #262626;

body {
	color: $grey;
}

header {
	padding: 1.7em 10%;

	h1 {
		padding-bottom: 3.75em;

		img {
			width: 35px;
		}
	}

	p {
		font-size: 1.95em;
		font-weight: 100;
		letter-spacing: .10em;
		line-height: 1.45em;
		padding-bottom: 4.5em;
	}
}

section {}

.links {
	padding-bottom: 5em;

	div {
		display: inline-block;
		width: 35%;
		padding-left: 10%;
		padding-right: 3%;
		vertical-align: top;


		h2 {
			text-transform: uppercase;
			font-size: .8em;
			letter-spacing: .31em;
			color: #999;
			padding-bottom: 2em;
			overflow: hidden;

			span {
				display: none;
			}


		}

		ul {
			list-style: none;
			padding-left: 0;
			padding-bottom: 7em;
			font-size: .9em;
			line-height: 2.3em;

			li {
				letter-spacing: .1em;

				a {
					color: #555;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

.projects {
	figure {
		img {}

		figcaption {
			text-align: center;
			padding: 3em 1em;
			font-weight: 100;
			
		}
	}
}
