

body {
}

header {
	padding-top: 7em;

	h1 {

		img {
		}
	}

	p {

	}
}

section {}

.links {

	div {


		h2 {
			span {
				display: inline;
			}
		}

		ul {


			li {

				a {


					&:hover {
					}
				}
			}
		}
	}
}

.projects {
	figure {
		img {}

		figcaption {
			padding: none;
		}
	}
}
