

body {
}

header {

	h1 {

		img {
		}
	}

	p {
		font-size: 2.5em;
		max-width: 80%;
		letter-spacing: .08em;
			padding-bottom: 3.7em;
	}
}

section {}

.links {

	div {


		h2 {

		}

		ul {


			li {

				a {


					&:hover {
					}
				}
			}
		}
	}
}

.projects {
	figure {
		img {}

		figcaption {
			padding: none;
		}
	}
}
