body {
	padding: 3em 1em 1em;
	a {
		color: $green;
		text-decoration: none;

		&:hover {
			color: $pink;
		}
	}

	header {
		> div {
			padding-top: 2em;
			max-width: 30em;
			text-align: center;
			margin: 0 auto;
			img {
				width: 100%;
			}

			ul {
				text-align: left;
				list-style: none;

				li {
					display: inline-block;
					text-align: center;
					text-transform: uppercase;
					font-size: 0.8em;
					letter-spacing: 0.25em;
					color: $lightgrey;

					span {
						display: none;
					}
				}
			}

			.address {
				padding: 1em 0;
				color: rgba(0,0,0,.3);
				letter-spacing: 0.08em;
				font: bold "Lucida Grande", sans-serif;
				text-transform: uppercase;
				text-align: center;

				br {
					display: none;
				}

				.zip {
					display: none;
				}

				.phone {
					font-weight: bold;
					display: block;
					letter-spacing: 0.27em;
				}
			}
		}

		nav {
			display: hidden;

			&:before {
				position: absolute;
				top: 0;
				content: "Menu";
				font-size: 1em;
				font-weight: 100;
				letter-spacing: 0.05em;
				text-transform: uppercase;
				text-align: center;
				color: $grey;
				width: 94%;
				left: 3%;
				display: block;
				padding: 1em 0;
				border-bottom: 3px solid #eee;

			}

			ul {
				display: none;
				list-style: none;

				a {}
			}
		}
	}

	figure {
		background: url('images/storefront.png') no-repeat;
		background-size: 100%;
		margin: 2em auto 3em;
		padding: 25% 0;


		h1 {
			color: white;
			font-weight: 100;
			font-size: 1.5em;
			text-align: center;
			text-transform: uppercase;
			text-shadow: 0 0 5px #333;
		}
	}

	section {
		font-family: 'Roboto Slab', serif;
		text-align: center;
		max-width: 38em;
		margin: 2em auto 0;
	}

	.info {
		padding: .5em 1.2em 0;
		font-weight: 400;
		color: $grey;
		text-align: center;

		p {
			img {
				max-width: 50px;
				display: block;
				text-align: center;
				margin: 2em auto;
			}
			a {}
		}
	}

	.black {
		color: $grey;
		font-weight: 300;
		padding: 0 1.5em;



		img {
			width: 40%;
			display: inline-block;
			padding: .5em;
		}
	}

	.basement {
		color: $grey;

		p {
			font-weight: 400;
		}
	}

	footer {
		color: $green;
		font-family: 'Roboto Slab', serif;
		text-align: center;
		margin: 2em;
	}
}
