@import 'reset'; // @import 'reset';
@import 'typography';
$grey: #262626;

body {
	color: $grey;
}

header {
	padding: 7em 10%;

	h1 {
		padding-bottom: 4em;

		img {
			width: 35px;
		}
	}

	p {
		font-size: 2.4em;
		letter-spacing: .11em;
		line-height: 1.65em;
	}
}

section {}

.links {
	padding-bottom: 5em;

	div {
		display: inline-block;
		width: 35%;
		padding-left: 10%;
		padding-right: 3%;

		h2 {
			text-transform: uppercase;
			font-size: .8em;
			letter-spacing: .31em;
			color: #999;
			padding-bottom: 2em;
		}

		ul {
			list-style: none;
			padding-left: 0;
			padding-bottom: 7em;
			font-size: .9em;
			line-height: 2.1em;

			li {
				letter-spacing: .1em;

				a {
					color: #555;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

.projects {
	figure {
		img {}

		figcaption {
			text-align: center;
			padding: 3em 1em;
		}
	}
}
