@import 'reset'; // @import 'typography';

body {}
<<<<<<< HEAD

.wisdom {
	$mustard: #BC6B25;
	$textbrown: #221010;
	$red: #9D221C;
=======
section { margin-bottom: 1em};
>>>>>>> 66173963e33edd628a03d3ce8a3d320390092949

	text-align: center;
	background-color: $mustard;
	color: $textbrown;
	padding: 5em 10em 10em;
	font-family: 'Averia Sans Libre', cursive;

	h1 {
		padding-top: .5em;
		padding-bottom: .5em;
		font-family: 'Monoton', cursive;
		color: $red;
		font-size: 4em;
	}
	p {
		padding-top: 1em;
		padding-bottom: 10em;
		background-color: #9E8272;
		clip-path: polygon(51% 60%, 0 0, 100% 0);

	}
}


.redwoods {
	$yellow: #f7df30;
	$brown: #46342d;
	$white: #ebe5ce;
	$black: #000;

	background-color: $brown;
	color: $yellow;
	font: 8.5vw/11vw 'Baloo Bhaina', cursive;
	text-align: center;
	text-transform: uppercase;
	clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
	margin: 1em auto;
	width: 95%;
	text-shadow: .02em .02em .01em $black;


	.title {
		padding-top: .7em;
		letter-spacing: .08em;
		font-size: .8em;
	}

	.forest {
		text-transform: none;
		font-weight: bold;
		color: $white;
		font-size: 1.2em;
		font-family: 'Pacifico', cursive;
	}

	.campground {
		line-height: 2.3em;
		font-size: .8em;
		letter-spacing: .14em;
	}

	.sub {
		background-color: $white;
		color: $brown;
		padding: .5em 0 .2em;
		font-size: .8em;
		text-transform: none;
	}
}
