$yellow: #f7df30;
$brown: #46342d;
$white: #ebe5ce;
@import 'reset';

body {}

.redwoods {
	background-color: $brown;
	color: $yellow;
	font: 8.5vw/11vw 'Baloo Bhaina', cursive;
	text-align: center;
	text-transform: uppercase;
	clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
	margin: 1em auto;
	width: 95%;

	.title {
		padding-top: 0.7em;
		letter-spacing: 0.08em;
		font-size: 0.8em;
	}

	.forest {
		text-transform: none;
		font-weight: bold;
		color: $white;
		font-size: 1.2em;
		font-family: 'Pacifico', cursive;
	}

	.campground {
		line-height: 2.3em;
		font-size: 0.8em;
		letter-spacing: 0.14em;
	}

	.sub {
		background-color: $white;
		color: $brown;
		padding: 0.5em 0 0.2em;
		font-size: 0.8em;
		text-transform: none;
	}
}
