@import 'reset'; // @import 'typography';

body {}

section {
	margin-bottom: 1em;
};

.wisdom {
	$mustard: #bc6b25;
	$textbrown: #221010;
	$red: #9d221c;
	text-align: center;
	background-color: $mustard;
	color: $textbrown;
	padding: 5em 10em 10em;
	font-family: 'Averia Sans Libre', cursive;

	h1 {
		padding-top: .5em;
		padding-bottom: .5em;
		font-family: 'Monoton', cursive;
		color: $red;
		font-size: 4em;
	}

	p {
		padding-top: 1em;
		padding-bottom: 10em;
		background-color: #9e8272;
		clip-path: polygon(51% 60%, 0 0, 100% 0);
	}
}

.cat {
	$grey: #292a39;
	$moon: #d3d689;
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
	background: $grey url('img/cat.png') top center;
	background-size: 100%;
	padding-top: 87vw;

	div {
		text-align: center;
		background-color: $grey;
		color: darken($moon, 40%);
		font-size: 10vw;
		line-height: 12vw;
		padding-top: .5em;

		span {
			display: block;
			font-size: 15vw;

			+span {
				font-size: 7.7vw;
				color: lighten($moon, 10%);

				+span {
					font-size: 11.4vw;
					color: darken($moon, 5%);

					+span {
						font-size: 10.9vw;
						color: darken($moon, 30%);
					}
				}
			}
		}
	}
}

.redwoods {
	$yellow: #f7df30;
	$brown: #46342d;
	$white: #ebe5ce;
	$black: #000;
	background-color: $brown;
	color: $yellow;
	font: 8.5vw/11vw 'Baloo Bhaina', cursive;
	text-align: center;
	text-transform: uppercase;
	clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
	margin: 1em auto;
	width: 95%;
	text-shadow: .02em .02em .01em $black;

	.title {
		padding-top: .7em;
		letter-spacing: .08em;
		font-size: .8em;
	}

	.forest {
		text-transform: none;
		font-weight: bold;
		color: $white;
		font-size: 1.2em;
		font-family: 'Pacifico', cursive;
	}

	.campground {
		line-height: 2.3em;
		font-size: .8em;
		letter-spacing: .14em;
	}

	.sub {
		background-color: $white;
		color: $brown;
		padding: .5em 0 .2em;
		font-size: .8em;
		text-transform: none;
	}
}
