html {
    background-color: #333;
    color: #fff;
    padding: em;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

form {
    color: #66CC00;
    padding: 1em;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

h1 {
    color: #00FF00;
    text-aline: center;
    margin: 0 auto;
    width: 80%;
}

img {
    align: center;
    padding: em;
}

ul {
    list-style: none;
    text-align: center;
    color: #000;
}

h2 {
    color: #3666CC;
}

p {
    color: #00CC00;
}

footer {
    color: red;
    text-align: center;
}
