html {
  background-color: grey;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  margin: 1em;
  padding-top: 1em;
  text-align: center;
}
article {

}
h1 {
  background-color: purple;
  color: white;
  padding: 1em 2em;
  margin: 1em;
}

h1 a {
  text-decoration: none;
  color: white;
}

h2 {

}

ul {

}

ol {

}

li {

}

blockquote {

}

blockquote cite {

}

p {
  border-bottom: 1px solid #666;
  padding-bottom: 1em;
}
