/* You're on you're own here... */
html {
  text-align: center;
  background-color: grey;
}

body {
  background-color: white;
  margin: 1em auto;
  padding: 1em;
  width: 75em;
}

ol, ul {
  list-style: none;
  padding-left: 0;
}

h1 {
  background-color: purple;
  color:  white;
  padding: 1em;
}

h2 {
  border-top: 1px solid grey;
  padding-top: 1em;
}

blockquote {
  background-color: black;
  color: white;
  padding: 1em;
}
blockquote cite {

}

p {
  margin: 0 auto;
  width: 23em;
  border: 1px;
  padding-bottom: 1em;
}
